body{
    margin: 0px;
}
.nav{
    width: 100%;
    height: 80px;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 150px;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.link{
    color: black;
    text-decoration: none;
}   